.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 3px #666666;
  text-align: center;
  height: 50px;
}


a {
  text-decoration: none;
  color: #003300;
}

a:visited {
  color: #3BB855;
}

a:hover {
  text-decoration: underline;
}
