#page {
  margin: 10px auto 10px auto;
}

body {
  background-color: #dddddd;
}

.availability, .contact {
  background-color: #bbbbbb;
}

.contact {
  position: relative;
  border: 2px solid #bbbbbb;
  height: 250px;
  weight: 250px;
  padding: 0 15px 0 15px;
  border-radius: 50px;
  text-align: center;
}

#contact-list {
  list-style: none;

}

h1, h2, h3 {
  color: #003300;
  font-family: 'Dosis',sans-serif;
  font-size: 150%;
}

p, table, iframe {
  color: #131313;
  font-family: 'Dosis', sans-serif;
  line-height: 1.4em;
}

.message {
  background-color: #b2d8b2;
  border: 2px solid #b2d8b2;
  height: 250px;
  weight: 250px;
  padding: 0 15px 0 15px;
  border-radius: 50px;
  text-align: center;
}

p.intro:first-letter {
  font-weight: bold;
  font-size: 200%;
}

.intro, .paragraph {
  text-indent: 1em;
}

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 3px #666666;
  text-align: center;
  height: 50px;
}

#background {
    width: 100%;
    height: auto;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.jason {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

a {
  text-decoration: none;
  color: #003300;
}

a:visited {
  color: #3BB855;
}

a:hover {
  text-decoration: underline;
}

.availability {
  height: 200px;
  width: 700px;
  border: 2px solid #444343;
  padding: 0 15px 0 15px;
  border-radius: 50px;
}
