
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*end*/




body {
  background-color: #dddddd;
  margin-bottom: -500px;
  margin-top: 100px;
}

.juan {

}

h1, h2, h3 {
  color: #003300;
  font-family: 'Dosis',sans-serif;
  font-size: 150%;
}

p, iframe {
  color: #131313;
  font-family: 'Dosis', sans-serif;
  line-height: 1.4em;
}
/*
.table-bordered {
  color: #131313;
  font-family: 'Dosis', sans-serif;
  line-height: 1.4em;
  padding-top: 20px;
}*/

.navbar-brand {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.2em;
  text-shadow: 2px 2px 3px #666666;
  text-align: center;
  height: 50px;
}


a {
  text-decoration: none;
  color: #003300;
}

a:visited {
  color: #3BB855;
}

a:hover {
  text-decoration: underline;
}

/*header*/

hr.star-light {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px
}

hr.star-light:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    font-size: 2em;
    padding: 0 .25em
}

header .intro-text .name {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    background-color: #b2d8b2;
    color: #fff
}

header {
    text-align: center;
    background-color: #b2d8b2;
    margin-top: -20px;
    padding-bottom: 110px;
}

header .container-fluid {
  min-height: 100%;
  height: 100%;
  overflow: auto;
  margin-bottom: -100px; 

}

header img {
    display: block;
    margin: 0 auto 20px
}

header .intro-text .name {
    display: block;
    font-weight: 700;
    font-size: 2em
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300
}

.name {
  color: #fff;
}

.skills {
  color: #fff;
}

.wrapped {
  margin-bottom: -200px;
}

/*******************lightbox css*******************/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

.small-img {
  margin-bottom: 30px;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
 background-color: rgba(0,0,0,0.9);}

/* Modal Content */
.modal-content {
  margin: auto;
display: block;
  width: 1200px;
  height: 600px;
  max-width: 700px;
  max-height:100%;
  overflow: auto;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*end*/



.intro-text {
  padding-top: 100px;
}

.footer-distributed {
  border-radius: 5px;
  background-color: #292c2f;
}

/*about page*/

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro {
    font-weight: 700;
    letter-spacing: 1px;
    color: #003300;
    font-family: 'Dosis',sans-serif;
    font-size: 150%;
    text-transform: uppercase;
}

.table-bordered {
  background-color: #bbbbbb;
}

.gallery {
  min-height: 75%;
  overflow-x: auto;
}
